* {
	font-size: 13px;
	font-family: Rubik;
	font-weight: bold;
	color: #e3d6ba;
}
tooltip label {
	padding: 3px 3px 3px 3px;
	font-family: Rubik;
	font-weight: bold;
	font-size: 13px;
	color: #e3d6ba;
}
tooltip {
	padding: 10px 10px 10px 10px;
	background: #0c0611;
	border: 0px solid;
	border-radius: 0px;
	color: #e3d6ba;
}

window#waybar {
	background: rgba(12, 6, 17, 100);
	color: #0c0611
}

#custom-memicon1 {
	font-size: 13px;
}
#custom-cpuicon {
	font-weight: normal;
	font-size: 13px;
}
#custom-workspaces {
	font-size: 13px;
	font-family: Typeface;
}
#custom-app{
	background: #0c0611;
	border: 0px solid;
}

#clock{
	padding: 3px 0px 3px 5px;
	border: 0px solid;
	border-radius: 8px;
	min-width: 150px;
}
.modules-left{
	background: #0c0611;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 1px;
	padding-right: 3px;
}
.modules-center{
        background: #0c0611;
        padding-top: 0px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
}
.modules-right{
        background: #0c0611;
        padding-top: 0px;
        padding-bottom: 2px;
	padding-left: 3px;
        padding-right: 1px;
}

#hardware{
	background: #ba7096;
	padding: 0px 0px 0px 0px;
	border: 0px solid;
	border-radius: 8px;
}
#network{
	background: #ba7096;
	padding: 3px 5px;
	margin: 0px 0px 0px 0px;
	border: 0px solid;
	border-radius: 8px;
}

#battery {
	padding: 3px 5px 3px 0px;
	border: 0px solid;
	border-radius: 8px;
	min-width: 70px;
}
#cpu{
	padding: 3px 0px;
	margin: 0px 0px 0px 0px;
}
#custom-cpuicon{
	padding: 3px 0px;
	margin: 0px 0px 0px 0px;
}
#memory{
	padding: 3px 0px;
	margin: 0px 0px 0px 0px;
}
#custom-memicon1{
	padding: 3px 0px;
	margin: 0px 0px 0px 0px;
}
#custom-space{
	padding: 3px 0px;
	margin: 0px 0px 0px 0px;
}
#pulseaudio{
	background: #ba7096;
	padding: 5px 5px;
	margin: 0px 0px 0px 0px;
	border: 0px solid;
	border-radius: 8px;
}
#tray{
	background: #ba7096;
        padding: 5px 5px;
        margin: 0px 0px 0px 0px;
        border: 0px solid;
	border-radius: 8px;
}

#bluetooth{
        background: #ba7096;
        padding: 3px 5px;
        margin: 0px 0px 0px 0px;
        border: 0px solid;
        border-radius: 8px;
}

#custom-app{
	padding: 3px 10px;
	margin: 0px 0px 0px 0px;
	min-width: 180px;
}

#workspaces{
	background: #ba7096;
        margin: 0px 0px 0px 0px;
        border: 0px solid;
	border-radius: 8px;
	
}

#clockbat{
	background: #732d50;
	border: 0px solid;
	border-radius: 8px;
}

#workspaces button.active {
	background: #732d50;
	border-radius: 8px;
	border-color: #732d50;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
	background: #ba7096;
	border-radius: 8px;
	animation: gradient_f 20s ease-in infinite;
 	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button {
	padding: 1px;
  	border-radius: 8px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
