* {
    border: none;
    box-shadow: none;
    color: #ffeef2;
    font-family: "SF Pro";
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.modules-center {
    background: #190a12;
}
.modules-left {
    background: #190a12;
    padding-left: 1px;
    padding-right: 3px;
}
.modules-right {
    background: #190a12;
    padding-left: 3px;
    padding-right: 1px;
}
tooltip {
    border-radius: 3px;
    color: #ffeef2;
    padding: 10px 10px 10px 10px;
}
tooltip label {
    color: #ffeef2;
    padding: 3px 3px 3px 3px;
}
window#waybar {
    background: #190a12;
    color: #190a12;
}
#battery {
    border-radius: 3px;
    min-width: 70px;
}
#big {
    background: #884e6b;
    border-radius: 3px;
    padding-right: 3px;
    padding-left: 3px;
}
#clock {
    border-radius: 3px;
    min-width: 150px;
}
#clockbat {
    background: #884e6b;
    border-radius: 3px;
}
#custom-app {
    min-width: 180px;
}
#hardware {
    background: #884e6b;
    border-radius: 3px;
    padding-right: 3px;
    padding-left: 3px;
}
#network {
    border-radius: 3px;
}
#pulseaudio {
    border-radius: 3px;
}
#workspaces {
    background: #884e6b;
    border-radius: 3px;
}
#workspaces button {
    border-radius: 3px;
}
#workspaces button.active {
    background: #732d50;
    border-radius: 3px;
}
#workspaces button:hover {
    background: #884e6b;
}
